/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Shopify Polaris design system */

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  background-color: #FAFBFB;
  color: #212B36;
}
